.footer {
    text-align: center;

    &__links {
        list-style: none;

        li {
            display: inline-block;
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: #4A789C;
            }
        }
    }

    &__socials {
        p {
            color: #4A789C;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}