.header {
    text-align: center;
    border-bottom: 1px solid #E5E8EB;
    position: relative;

    &__logo {
        display: inline;
        margin-right: 0.2rem;
    }

    &__title {
        display: inline;
        margin-left: 0.2rem;
        font-family: 'Open sans';
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__liked {
        border: none;
        background: none;
        position: absolute;
        right: 0.3rem;
        top: 0.3rem;

        &__img {}
    }
}